<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= category %> Files</title>
</head>
<body>
    <h1><%= category %> Files</h1>
    <ul>
        <% files.forEach(file => { %>
            <li><%= file.filename %></li>
        <% }) %>
    </ul>
</body>
</html>
